@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: Jost;
}

header, .sobrenos, footer {
    text-align: center;
}
body{
    background-color: aliceblue;
}
section, header{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;

}
img {
    margin-top: 2vh;
    width: 50%;
    border-radius: 50%;
}

.titulo {
    
    width: 10vh;
    color: rgb(98, 19, 201);
}

.ola{
    background-color: rgb(86, 16, 133);
    color: rgb(240, 237, 234);
    text-align: center;
}

footer{
    line-height: 10vh;
    background-color: rgb(55, 8, 99);
}

