@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: Jost;
}

header, .sobrenos, footer {
    text-align: center;
}
body{
    background-color: aliceblue;
}
section, header{
    background-color: aliceblue;
    flex-basis: 200;
}
img {
    margin-top: 2vw;
    width: 50%;
    border-radius: 50%;
}

.titulo {
    font-size: 8vh;
    color: rgb(98, 19, 201);
}

.ola{
    background-color: rgb(86, 16, 133);
    color: rgb(240, 237, 234);
    text-align: center;
    max-width: 80vh;
    margin-bottom: 8vh;
}

footer{
    line-height: 10vw;
    background-color: rgb(55, 8, 99);
}



@media (min-width: 768px){
    .container{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap:10vh;
    }
}

.sobrenos {
    max-width: 60vh;
}

